
#controller{
    -fx-alignment: center;
    -fx-padding: 20px;
}

.control-button {
    -fx-min-height: 44;
    -fx-min-width: 44;
    -fx-background-radius: 22;
    -fx-border-radius: 22;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat no-repeat;
    -fx-border-size: 1px;
    -fx-border-color: #707070;
    -fx-border-style: solid;
    -fx-background-size: 65%;
    -fx-opacity: 0.6;
}

.control-button:hover {
    -fx-border-color:dodgerblue;
    -fx-opacity: 1;
}

#repeat{
    -fx-background-image: url("../../assets/icons/png3x/repeat@3x.png");
    -fx-background-position: 50%;
}

#skip-back{
    -fx-background-image: url("../../assets/icons/png3x/skip_back@3x.png");
    -fx-background-position: 50%;
}

#play{
    -fx-background-image: url("../../assets/icons/png3x/play@3x.png");
    -fx-background-position: 60%;
}

#pause{
    -fx-background-image: url("../../assets/icons/png3x/pause@3x.png");
    -fx-background-position: 50%;
}

#skip-next{
    -fx-background-image: url("../../assets/icons/png3x/skip_next@3x.png");
    -fx-background-position: 50%;
}

#shuffle{
    -fx-background-image: url("../../assets/icons/png3x/shuffle@3x.png");
    -fx-background-position: 50%;
}