/* Play Controls */

.big-button {
    -fx-background-position: 50%;
    -fx-min-height: 44;
    -fx-min-width: 44;
    -fx-background-radius: 22;
    -fx-border-radius: 22;
    -fx-background-color: transparent;
    -fx-border-size: 1px;
    -fx-border-color: white;
    -fx-border-style: solid;
    -fx-background-repeat: no-repeat no-repeat;
}

#control-box {
    -fx-alignment: center;
    -fx-min-height: 50px;
}

#repeat-btn {
    -fx-background-image: url("../../assets/icons/png1x/repeat.png");
}

#skip-back-btn {
    -fx-background-image: url("../../assets/icons/png1x/skip_back.png");
}

#play-btn {
    -fx-background-image: url("../../assets/icons/png1x/play.png");
    -fx-background-position: 60%;
}

#pause-btn {
    -fx-background-image: url("../../assets/icons/png1x/pause.png");
}

#skip-next-btn {
    -fx-background-image: url("../../assets/icons/png1x/skip_next.png");
}

#shuffle-btn {
    -fx-background-image: url("../../assets/icons/png1x/shuffle.png");
}

/* Volume Controls */

#volume-controls {
    -fx-min-height: 50px;
    -fx-padding-top: 8px;
}

.volume-btn-max {
    -fx-background-image: url("../../assets/icons/png1x/volume_up.png");
}

.volume-btn-min {
    -fx-background-image: url("../../assets/icons/png1x/volume_down.png");
}

.volume-btn-off {
    -fx-background-image: url("../../assets/icons/png1x/volume_off.png");
}

.pretty-slider {
    -fx-control-inner-background: #1354cb;
    -fx-background-color: transparent;
}

.pretty-slider .thumb {
    -fx-background-color: white;
}

.pretty-slider .track {
    -fx-pref-height:8;
    -fx-background-color: white;
    -fx-opacity: 0.15;
}

.pretty-slider .thumb {
    -fx-pref-height: 16;
    -fx-pref-width: 16;
}

.time-slider{
    -fx-pref-width: 400px;
}