/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.bkg{
	-fx-background-color: #121212;
}

.border-to-test{
	-fx-border-size: 1px;
	-fx-border-color: dodgerblue;
	-fx-border-style: solid;
}

#header{
	-fx-padding: 5px;
}

.text-color{
	-fx-text-fill: white;
}

.main-text {
	-fx-text-align: center;
	-fx-font-family: Helvetica;
	-fx-font-size: 22;
	-fx-padding: 3px, 10px;
}

.second-text {
	-fx-alignment: center;
	-fx-font-family: Helvetica;
	-fx-font-size: 14;
	-fx-padding: 3px, 10px;
}